<div class="container">
    <ul id="ul">
        {{#each files}}
            <li><button type="button" class="btn btn-primary">{{this}}</a></li>
        {{/each}}
    </ul>
</div>

<script>
    "use strict";

    let ul = document.getElementById("ul");
    let items = ul.getElementsByTagName("li");
    for (let i = 0; i < items.length; i++) {
        let btn = items[i].getElementsByTagName("button");
        //alert(btn.id);
    }

    let list = [];
    {{#each files}}
        list.push("{{this}}");
    {{/each}}

    for (let i = 0; i < list.length; i++) {
        alert(list[i]);
    }

    window.onload = function () {
        
    }

</script>
