<div class="container">
    <ul id="ul">
        {{#each files}}
        <li>
            <button id="{{@index}}" type="button" class="btn btn-primary">{{this}}</button>
        </li>
        {{/each}}
    </ul>
</div>

<script>
    "use strict";

    let list = [];
    {{#each files}}
    list.push("{{this}}");
    {{/each}}

    let buttons = document.getElementsByTagName("button");

    window.onload = function () {
        for (let i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener("click", function () {
                var xhr = new XMLHttpRequest();
                var url = "http://79.97.226.172/play?channel={{channel}}&file="+list[buttons[i].id];
                xhr.open("POST", url, true);
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhr.send();
            })
        }
    }
</script>